
/* Header Section Style Layout */
* {
  box-sizing: border-box;
}

.home-title {
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid black;
}

.main-nav ul {
  padding: 0;
  display: flex;
}

.main-nav li {
  padding: 0;
  list-style: none;
  font-size:20pt;
  margin: 10px;
}

/* 1st Section Style Layout */

.first-section {
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.book-title {    
    font-size: 30pt;
    margin-top:0;
}

.amazon-button {
  color:  dodgerblue;
  text-decoration-color: black;
  background-color: lightblue;
  border: 2px solid black;
  padding: 5pt;
  border-radius: 15%;
}

.synopsis-title {
  color: black;
  margin-left: 25%;
  margin-top: 40px;
  text-decoration-line: underline;
}


.second-section {
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid black;
  padding: 35px;
}

.synopsis {
  margin-right: 10%;
  font-weight: bold;
  font-size: larger;
}









    








